name: Build "turnip" (Mesa Revert Test)

on:
  workflow_dispatch:

jobs:
  build_turnip_revert:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare environment
        run: |
          sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
          sudo apt update
          sudo apt build-dep mesa -y
          sudo apt install -y ccache python3-pip git meson ninja-build unzip curl patchelf flex bison zip
          pip install mako

      - name: Execute Revert Build Script
        run: bash ./turnip_builder_revert.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: turnip-revert-build
          path: turnip_workdir/*.zip
