name: Turnip Batch Build (Commit Testing)

on:
  workflow_dispatch:
  schedule:
    - cron: "20 5 1,15 * *"

jobs:
  batch_build:
    name: Batch Build & Release
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Prepare Build Environment
      run: |
        # Habilita repositórios de código-fonte para dependências de build
        sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
        sudo apt-get update
        # Instala dependências do Mesa
        sudo apt-get build-dep mesa -y
        # Instala ferramentas de compilação
        sudo apt-get install -y ccache python3-pip
        pip install --upgrade meson ninja mako

    - name: Execute Batch Builder Script
      run: bash ./turnip_builder.sh

    - name: Upload Build Logs
      uses: actions/upload-artifact@v4
      with:
        name: build-logs
        path: |
          turnip_workdir/meson_log_*
          turnip_workdir/ninja_log_*
        if-no-files-found: ignore

    - id: get_info
      name: "Get Release Info"
      run: |
        echo "RELEASE_NAME=$(cat turnip_workdir/release)" >> "$GITHUB_OUTPUT"
        echo "TAG_NAME=$(cat turnip_workdir/tag)" >> "$GITHUB_OUTPUT"
        echo "BODY_PATH=turnip_workdir/description" >> "$GITHUB_OUTPUT"

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        body_path: ${{ steps.get_info.outputs.BODY_PATH }}
        name: ${{ steps.get_info.outputs.RELEASE_NAME }}
        tag_name: ${{ steps.get_info.outputs.TAG_NAME }}
        # O asterisco (*) pegará todos os zips gerados pelo loop (turnip_test_XXXX.zip)
        files: turnip_workdir/*.zip
        draft: false
