name: Turnip Revert Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up environment
      run: |
        sudo apt update
        sudo apt install -y meson ninja-build patchelf unzip curl python3-pip flex bison zip git ccache
        pip install mako

    - name: Run build script
      run: |
        chmod +x ./build_turnip_revert.sh
        ./build_turnip_revert.sh

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: turnip-revert-build
        path: turnip_workdir/*.zip

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: $(cat turnip_workdir/tag)
        name: $(cat turnip_workdir/release)
        body_path: turnip_workdir/description
        files: turnip_workdir/*.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
