name: Build Turnip 

on:
  workflow_dispatch:
  schedule:
  - cron: "20 5 1,15 * *"

jobs:
  build_turnip:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3

    - name: Prepare environment
      run: |
        sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
        sudo apt update
        # AQUI ESTA A CORRECAO: Instalando dependencias que faltavam
        sudo apt install -y libssl-dev libzstd-dev libarchive-dev python3-mako python3-pip flex bison
        sudo apt build-dep mesa -y
    
    - name: Execute build script
      run: bash ./turnip_builder.sh

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: turnip-drivers
        path: turnip_workdir/*.zip

    - name: Get Release Info
      id: info
      run: |
        echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
        echo "tag=Turnip-CI-$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        name: Turnip CI Build ${{ steps.info.outputs.date }}
        tag_name: ${{ steps.info.outputs.tag }}
        body_path: turnip_workdir/release_notes.txt
        files: |
           turnip_workdir/*.zip
