name: Compare Mesa Commits

on:
  workflow_dispatch:  # permite rodar manualmente
  push:
    branches: [ main ]

jobs:
  compare:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Git
        run: sudo apt-get update && sudo apt-get install -y git

      - name: Run comparison script
        run: bash ./compare_mesa_commits.sh
