name: Turnip Bisect

on:
  workflow_dispatch:

jobs:
  bisect:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install deps
      run: |
        sudo apt update
        sudo apt install -y meson ninja-build patchelf unzip curl python3-pip flex bison zip git ccache

    - name: Run bisect script
      run: |
        chmod +x bisect_turnip_only.sh
        ./bisect_turnip_only.sh

    - name: Upload bisect builds
      uses: actions/upload-artifact@v3
      with:
        name: turnip-bisect-results
        path: turnip_workdir/*.zip
